@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
    --background-color: #1f2933;
    --unfocused-border-color: #616e7c;
    --focused-border-color: #3175fe;
    --complement-border-color: #FFBF30;
    --window-background-color: #323f4b;
    --text-color: #f5f7fa;
    --border-radius: 5px;
    font-size: 24px;
}

* {
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
}

button {
    outline: 0;
    padding: 10px;
    margin: 0;
    background-color: var(--focused-border-color);
    border: 0;
    border-radius: var(--border-radius);
    transition: filter 0.2s;
}

button:hover {
    filter: brightness(80%);
}

button:disabled {
    filter: saturate(0%);
}